
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
            <title>Cloud Service Availability Dashboard</title>
            
            <!-- Bootstrap core CSS -->
            <link href="/css/bootstrap.min.css" rel="stylesheet">
                
                <!-- Custom styles for this template -->
                <link href="/css/style.css" rel="stylesheet">
                    </head>
    
    <body class="bg-light">
        
        <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
            <a class="navbar-brand mr-auto mr-lg-0" href="/">Cloud Service Availability Dashboard</a>
            <button class="navbar-toggler p-0 border-0" type="button" data-toggle="offcanvas">
                <span class="navbar-toggler-icon"></span>
            </button>
        </nav>
        
        <main role="main" class="container">
            <div class="d-flex align-items-center p-3 my-3 text-white-50 rounded shadow-sm ui-relative" th:attrappend="class=${' bg-' + id}">
                <img class="mr-3" src="" th:attr="src=${'/assets/svgs/'+id+'.svg'}" alt="" width="48" height="48">
                    <div class="lh-100">
                        <h6 class="mb-0 text-white lh-100">Hosted in the <span th:text="${region}">Unknown</span> Region</h6>
                        <small th:text="${location}">Unknown Cloud</small>
                    </div>
                    
                    <div class="ui-loader"><div class="lds-ring"><div></div><div></div><div></div><div></div></div></div>
                    
                    </div>
            
            <div class="ui-cloud-providers"></div>
            
        </main>
        
        <script src="/js/vendor/jquery-3.3.1.min.js"></script>
        <script src="/js/vendor/popper.min.js"></script>
        <script src="/js/vendor/bootstrap.min.js"></script>
        <script src="/js/vendor/holder.min.js"></script>
        <script src="/js/main.js"></script>
    </body>
</html>